/* Form */
.ap_form {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	color: #333;
	background: #666 url(../img/background.png) no-repeat center center;
    background-size: cover;
	overflow: hidden;
}
.ap_form::after {
	clear: both;
	content: '';
	display: table;
}
.ap_form,
.ap_form *,
.ap_form *:after,
.ap_form *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ap_form input[name="prevent_autofill"] {
	background: transparent;
	border: none;
	outline: none;
}

/* Section */
.ap_section {
	position:absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ap_section:first-of-type {
	display: block;
}
.ap_section_wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 640px;
	padding: 0 32px;
	max-width: 100%;
	min-width: 320px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	counter-reset: section;
}
.ap_section_wrapper .ap_section_msg {
	position: relative;
	display: inline-block;
	width: 100%;
}
.ap_section_wrapper .ap_idx {
	position: absolute;
	top: 6px;
    right: calc(100% + 6px);
    height: 14px;
    line-height: 14px;
    font-size: 14px;
	color: #666;
}
.ap_section_wrapper .ap_idx:after {
	content: '\00276F';
	margin-left: 3px;
}
.ap_section_wrapper h2 {
	margin: 24px 0;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	word-break: keep-all;
}
.ap_section_wrapper h2.ap_var {
	display: inline;
	text-align: left;
	word-break: normal;
	vertical-align: middle;
}
.ap_section_wrapper .ap_required {
	font-size: 24px;
	color: #666;
	vertical-align: top;
}
.ap_section_wrapper .ap_desc {
	margin: 0 0 16px;
	font-size: 16px;
	color: #555;
}
.ap_welcome_msg {
	display: block;
	margin: 0 auto;
	width: 320px;
	height: 210px;
	background: url("../img/contact.png") no-repeat center center;
	background-size: contain;
}
.ap_input {
	position: relative;
	margin-top: 12px;
	text-align: right;
}
.ap_input[rel="select"]:before {
	content: '\00276F';
	position: absolute;
	top: 12px;
	right: 16px;
	width: 18px;
	height: 18px;
	text-align: center;
	font-weight: bold;
	color: #999;
	-webkit-transform: rotate(90deg) scale(1.8);
	-moz-transform: rotate(90deg) scale(1.8);
	-ms-transform: rotate(90deg) scale(1.8);
	-o-transform: rotate(90deg) scale(1.8);
	transform: rotate(90deg) scale(1.8);
	z-index: 1;
	pointer-events: none;
}
.ap_input .ap_next {
	display: inline-block;
	padding: 6px 18px;
	border: none;
	border-radius: 2px;
	background: #333;
	font-size: 16px;
	color: #fff;
	vertical-align: middle;
	text-decoration: none;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}
.ap_input.sure .ap_next {
	padding: 8px 18px;
}
.ap_input .ap_next:hover {
	background: #555;
}
.ap_input .ap_next span {
	display: inline-block;
	margin-left: 6px;
	-webkit-transform: scaleX(1.5);
	-moz-transform: scaleX(1.5);
	-ms-transform: scaleX(1.5);
	-o-transform: scaleX(1.5);
	transform: scaleX(1.5);
}
.ap_input .ap_cmd {
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;
}
.ap_input.sure {
	text-align: center;
}
.ap_input:not(.sure) .ap_next,
.ap_input:not(.sure) .ap_cmd {
	opacity: 0;
	pointer-events: none;
}
.ap_input .ap_error {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1em 2em;
	font-size: 16px;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.ap_input input {
	margin-bottom: 24px;
	padding: 8px 16px;
	width: 100%;
	border: 1px solid #33333340;
	outline: none;
	background: #ffffff;
	font-size: 20px;
}
.ap_input input:hover,
.ap_input input:focus {
	border: 1px solid #33333380;
}
.ap_input textarea {
	margin-bottom: 24px;
	padding: 8px 16px;
	width: 100%;
	height: auto;
	border: 1px solid #33333340;
	outline: none;
	background: #ffffff;
	font-size: 20px;
	resize: none;
}
.ap_input textarea:hover,
.ap_input textarea:focus {
	border: 1px solid #33333380;
}
.ap_input select:not([class^="ui-datepicker"]) {
	position: relative;
	display: block;
	margin: 12px 0;
	padding: 8px 40px 8px 20px;
	width: 100%;
	height: 42px;
	background: #ffffff;
	border: 1px solid #33333340;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.ap_input select:not([class^="ui-datepicker"])::-ms-expand {
	display: none;
}
.ap_input select:not([class^="ui-datepicker"]):hover {
	border: 1px solid #33333380;
}
.ap_checkbox,
.ap_radio {
	margin-bottom: 24px;
	text-align: left;
	counter-reset: listStyle;
}
.ap_checkbox label,
.ap_radio label {
	position: relative;
	background: #ffffff;
	border: 1px solid #33333340;
	border-radius: 2px;
	cursor: pointer;
}
.ap_checkbox label {
	display: inline-block;
	margin: 12px 8px 0 0;
	padding: 4px 12px;
	width: auto;
	height: 32px;
	line-height: 1.5;
	font-size: 14px;
}
.ap_radio label {
	display: block;
	margin: 12px 0;
	padding: 8px 20px;
	width: 100%;
	height: 42px;
	background: #ffffff;
	font-size: 16px;
	counter-increment: listStyle;
}
.ap_checkbox label:before,
.ap_radio label:before {
	position: absolute;
	line-height: 1.5;
	background: #ccc;
	border: 1px solid #333;
	font-size: 14px;
	color: #666;
	text-align: center;
}
.ap_checkbox label:before {
	content: ' ';
	top: 7px;
	bottom: 7px;
	left: 10px;
	width: 16px;
	height: 16px;
	background: #eeeeee;
}
.ap_radio label:before {
	content: counter(listStyle, upper-alpha);
	top: 8px;
	bottom: 8px;
	left: 12px;
	width: 24px;
	height: 24px;
	background: #999999;
	color: #ffffff;
}
.ap_checkbox label.is_checked:before {
	top: 6px;
	bottom: 6px;
	left: 9px;
}
.ap_radio label.is_checked:before {
	top: 7px;
	bottom: 7px;
	left: 11px;
}
.ap_checkbox label:hover,
.ap_checkbox label.is_hover,
.ap_radio label:hover,
.ap_radio label.is_hover {
	background: #f6f6f6;
	border: 1px solid #33333380;
}
.ap_checkbox label.is_checked,
.ap_radio label.is_checked {
	background: #ffffff;
	border: 1px solid #33333380;
	border-width: 2px;
}
.ap_checkbox label.is_checked {
	padding: 3px 11px;
}
.ap_radio label.is_checked {
	padding: 7px 19px;
}
.ap_checkbox label.is_checked:after,
.ap_radio label.is_checked:after {
	content: '\2713';
	position: absolute;
	width: 16px;
	height: 24px;
	text-align: center;	
	font-weight: bold;
	color: #33333380;
	-webkit-transform: scaleX(1.3);
	-moz-transform: scaleX(1.3);
	-ms-transform: scaleX(1.3);
	-o-transform: scaleX(1.3);
	transform: scaleX(1.3);
}
.ap_checkbox label.is_checked:after {
	top: 4px;
	left: 10px;
}
.ap_radio label.is_checked:after {
	top: 8px;
	right: 12px;
	bottom: 8px;
}
.ap_checkbox input[type="checkbox"],
.ap_radio input[type="radio"] {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
.ap_checkbox input[type="checkbox"],
.ap_radio input[type="radio"] {
	margin: 0 8px 0 0;
}
.ap_checkbox input[type="checkbox"] {
	width: 8px;
}
.ap_radio span {
	line-height: 1.5;
}


/* Navigation */
.ap_navi {
	position: absolute;
	display: none;
	right: 16px;
	bottom: 16px;
}
.ap_navi span {
	margin-right: 6px;
	vertical-align: middle;
}
.ap_navi button {
	margin: 8px;
	height: 40px;
	line-height: 1;
	padding: 6px 8px;
	border: none;
	border-radius: 2px;
	outline: none;
	background: #333;
	font-size: 18px;
	color: #ddd;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.ap_navi button.disabled {
	color: #999;
	cursor: not-allowed;
	pointer-events: none;
}

/* Request */
.ap_request {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

/* Submit */
.ap_submit {
	display: none;
}


/* Result */
.ap_result {
	display: none;
	margin: 0 auto;
	width: 100%;
	max-width: 720px;
	font-size: 16px;
	color: #333;
}
.ap_result *,
.ap_result *::before,
.ap_result::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    border-collapse: collapse;
}
.ap_result header {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 24px;
	border-radius: 6px;
}
.ap_result header.is_blink {
	animation: blink .8s linear infinite;
	-webkit-animation: blink .8s linear infinite;
}
.ap_result header::after {
	content: '';
	display: table;
	clear: both;
}
.ap_result .ap_image_wrapper {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 120px;
	overflow: hidden;
	vertical-align: middle;
	background: url("../img/ap_send.gif") no-repeat center center;
	background-size: 200px;
}
.ap_result .ap_image {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.ap_result .ap_text_wrapper {
	position: relative;
	display: inline-block;
	height: 120px;
	text-align: left;
	vertical-align: middle;
}
.ap_result h3 {
	font-size: 18px;
	color: #666;
}
.ap_result p {
	margin: 0;
	color: #999;
}
.ap_result a {
	color: #678;
	text-decoration: none;
}
.ap_result section {
	display: block;
	margin: 32px auto;
}
.ap_result section:first-of-type {
	margin-top: 0;
}
.ap_result section:last-of-type {
    margin-bottom: 16px;
	padding-bottom: 32px;
	border-bottom: 1px solid #999;
}
.ap_result .ap_result_basic {
	display: table;
	margin: 4px 0;
}
.ap_result .ap_result_basic:first-child {
	display: block;
	padding: 24px 0;
	text-align: center;
}
.ap_result .ap_result_basic_th {
	display: table-cell;
	margin: 0;
	min-width: 120px;
	padding-right: 20px;
	font-weight: bold;
	text-align: right;
}
.ap_result .ap_result_basic:first-child .ap_result_basic_th {
	display: none;
}
.ap_result .ap_result_basic_td {
	display: table-cell;
	margin: 0;
}
.ap_result .ap_result_basic:first-child .ap_result_basic_td {
	display: block;
	width: 100%;
	padding: 36px 24px;
	font-size: 24px;
	font-weight: bold;
	border-top: 2px solid #333;
	border-bottom: 1px solid #666;
}
.ap_result .ap_result_extra {
	margin: 0 auto;
	width: 84%;
	max-width: 672px;
	padding: 0;
	font-size: 14px;
	box-sizing: border-box;
}
.ap_result .ap_result_extra th {
	margin: 0;
	border-bottom: 1px solid #ccc;
	padding: 8px 16px;
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
}
.ap_result .ap_result_extra td {
	margin: 0;
	border-bottom: 1px solid #ccc;
	padding: 8px 16px;
	vertical-align: middle;
}
.ap_result .ap_result_extra tr:last-child th,
.ap_result .ap_result_extra tr:last-child td {
	border-bottom: none;
}
.ap_result .ap_result_content {
	display: table;
	margin: 0;
	padding: 3px;
}
.ap_result .ap_result_content_th {
	display: table-cell;
	margin: 0;
	min-width: 112px;
	padding-right: 18px;
	font-weight: bold;
	text-align: right;
}
.ap_result .ap_result_content_td {
	display: table-cell;
	margin: 0;
	word-break: break-word;
}
.ap_result .ap_result_content_td pre {
	white-space: normal;
	font-family: inherit;
}
.ap_result footer {
	margin: 0;
}
.ap_result .ap_result_footer {
	margin: 0;
	text-align: right;
}
.ap_result .ap_result_footer a {
	position: relative;
	border-bottom: 1px solid #9ab;
	padding-right: 16px;
	font-size: 14px;
	font-weight: bold;
	background: url(../img/ap_icon-forward.svg) no-repeat center right 0;
	background-size: 13px;
}